name: checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  vue:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: vue
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          package_json_file: "vue/package.json"

      - run: pnpm install --frozen-lockfile

      # - run: pnpm run lint

      - run: pnpm run typecheck
